.container {
    /* border: 10px solid black; */
    border: 15px solid darkblue;
    margin: 30px;
    display: flex;
}

.container button {
    text-align: center;
    background-color: salmon;
    border: 2px solid black;
    height: 100px; width: auto;
    margin: 15px;
    flex: 1;
}